@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 20px;
  background-color: #2E294E;
  color: #E0E3DA;
  line-height: 25px;
  letter-spacing: 1px;
  font-family: "Open Sans", Helvetica, sans-serif; }
