@import url(https://fonts.googleapis.com/css?family=Open+Sans)
$font: 'Open Sans', Helvetica, sans-serif
$bg-color: #2E294E
$font-color: #E0E3DA

body
  margin: 20px
  background-color: $bg-color
  color: $font-color
  line-height: 25px
  letter-spacing: 1px
  font-family: $font
