@import url(https://fonts.googleapis.com/css?family=Open+Sans)
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed)
$font: 'Open Sans', Helvetica, sans-serif
$bg-color: #2E294E
$font-color: #E0E3DA
$button-color: #a5dff9
$button-font: #6a6a6a

body
  margin: 20px
  background-color: $bg-color
  color: $font-color
  line-height: 25px
  letter-spacing: 1px
  font-family: $font

button
  background: $button-color
  color: $button-font
  font-family: $btn-font
